{% extends "base.html" %}

{% block content %}
    <div class="row py-2">
        <div class="col-8">
            <h3>Team members</h3>
            <p class="text-muted">You have {{ members|length }} team member{{ members|length|pluralize }}</p>
        </div>
        <div class="col-4 text-end">
            <a href="{% url 'team:new' %}" class="btn btn-primary mt-3">New member</a>
        </div>
    </div>
    {% for member in members %}
        <div class="row mt-2">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title">
                                {{ member.name }} {% if member.is_admin %}<span class="badge rounded-pill bg-secondary">admin</span>{% endif %}
                            </h5>
                            <a href="{% url 'team:edit' member.id %}" class="btn btn-light btn-sm" aria-label="Edit">✏️</a>
                        </div>
                        <p class="card-text">{{ member.email }}</p>
                        <p class="card-text text-muted">{{ member.phone }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text text-center">There is no one here 😅</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
